@model DeleteModelDto


<td class="col-md-1">
    @if (Model.IsEnabled)
    {
        <form method="post" asp-controller="@Model.ControllerName" asp-action="Delete">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn btn-danger">
                <span>@Model.ButtonName</span>
            </button>
        </form>
    }
    else
    {
        <button class="btn btn-danger disabled">
            <span>@Model.ButtonName</span>
        </button>
    }
</td>
