@model IEnumerable<DataPoint>

<script>
    window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
	    theme: "light2", // "light1", "light2", "dark1", "dark2"
	    exportEnabled: true,
	    //animationEnabled: true,
	    title: {
		    text: "Company Employees"
	    },
	    subtitles: [{
		    text: @(DateTime.Now.Month) + "." + (@DateTime.Now.Year)
	    }],
	    data: [{
		    type: "pie",
		    startAngle: 180,
		    toolTipContent: "<b>{label}</b>: {y}%",
		    showInLegend: "true",
		    legendText: "{label}",
		    indexLabel: "{label} - {y}%",
		    dataPoints: @Html.Raw(ViewData["DataPoints"])
	    }]
    });
    chart.render();

    }
</script>
<div>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</div>