@model ChartDto

@{
    ViewData["Title"] = "Reports";
}

<h2>@ViewData["Title"]</h2>

@{
    var reportsType = new List<BaseDto>()
{
new BaseDto(){Id = 1, Name = "Employees by position"},
new BaseDto(){Id = 2, Name = "Project Assigned Employees"}
};
}
<div class="container">
    <hr />
    <div class="row">
        <form method="get" asp-controller="Report" asp-action="GetReport">
            <div class="form-group col-md-3">
                @Html.DropDownListFor(m => m.ReportTypeId,
                                new SelectList(reportsType, "Id", "Name"),
                                " -- Select --",
                                new { @class = "form-control" })
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-success">View</button>
            </div>
        </form>
    </div>
</div>

@if (Model != null)
{
    @await Html.PartialAsync("ReportChartPartial", Model)
}
